<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodePath-wk4-Tumblr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10B64B11C80307F004668E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10B64C51C80307F004668E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10B64D01C80307F004668E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
